.__hero
    img.svg-guest-house-dims(src="@img/icons/icons.svg#guest-house" alt="guest-house")
    h1.__hero-title Experience the perfect combination of modern housing & natural scenery.
    h4.__hero-sub-title Located in Lofoten, norway