.__btn {
    position          : relative;
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-pack  : center;
    -ms-flex-pack     : center;
    justify-content   : center;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    font-family       : $ff__main;
    font-size         : 16px;
    line-height       : 20px;
    letter-spacing    : 0em;
    text-align        : center;
    cursor            : pointer;
    -webkit-transition: background-color .5s ease 0s;
    -o-transition     : background-color .5s ease 0s;
    transition        : background-color .5s ease 0s;
    border-radius     : 6px;
    height            : 42px;
    top               : 0px;
    right             : 0px;
    left              : 0px;

    &:active {
        top: 2px;
    }

    &-nav {
        background: white;
        color     : $color-brand !important;
        width     : 117px;

        &:hover {
            background-color: $color-official;
            color           : white !important;
        }
    }

    &-brand {
        background: $color-brand;
        color     : white;
        width     : 107px;

        &:hover {
            background-color: $color-official;
        }
    }

    &-form {
        background   : $color-brand;
        border-radius: 10px;
        height       : 30px;
        width        : 61px;
    }

    &-line {
        border    : 2px $color-brand solid;
        background: transparent;
        color     : $color-brand;
        opacity   : .9;
        width     : 107px;

        &:hover {
            background-color: $color-official;
            color           : white;
        }
    }
}