.icon {
    display: inline;
    display: inline-block
}

.svg-Air-Conditioner-Icon-dims {
    width : 36px;
    height: 18px;
}

.svg-Airbnb-Icon-dims {
    width : 30px;
    height: 32px;
}

.svg-Bath-Tub-Icon-dims {
    width : 64px;
    height: 60px;
}

.svg-Bed-Icon-dims {
    width : 46px;
    height: 64px;
}

.svg-Bread-Icon-dims {
    width : 36px;
    height: 16px;
}

.svg-Briefcase-Icon-dims {
    width : 36px;
    height: 34px;
}

.svg-Coffee-Maker-Icon-dims {
    width : 36px;
    height: 36px;
}

.svg-Cutlery-Icon-dims {
    width : 30px;
    height: 36px;
}

.svg-Door-Icon-dims {
    width : 46px;
    height: 64px;
}

.svg-Facebook-Icon-dims {
    width : 18px;
    height: 32px;
}

.svg-Forest-Icon-dims {
    width : 36px;
    height: 28px;
}

.svg-Glass-Icon-dims {
    width : 24px;
    height: 36px;
}

.svg-Hanger-Icon-dims {
    width : 30px;
    height: 36px;
}

.svg-Instagram-Icon-dims {
    width : 32px;
    height: 32px;
}

.svg-Pizza-Icon-dims {
    width : 36px;
    height: 36px;
}

.svg-Stove-Icon-dims {
    width : 36px;
    height: 36px;
}

.svg-Trees-Icon-dims {
    width : 36px;
    height: 30px;
}

.svg-Wi-Fi-Icon-dims {
    width : 36px;
    height: 36px;
}

.svg-guest-house-dims {
    width : 256px;
    height: 90px;
}