//font-family
$ff__awesome: 'fontawesome';
$ff__main   : MontserratAlternatesRegular;
$ff__main-b : MontserratAlternatesBlack;
$ff__main-l : MontserratAlternatesLight;
$ff__main-t : MontserratAlternatesThin;
$ff__main-m : MontserratAlternatesMedium;

//colors
$color-official: #E08631;
$color-brand   : #52503B;
$color-bg      : #FAF8F0;
$color-text    :#333333;

//width & height
$rem    :1rem;
$__100p : 100%;
$__10px : 10px;
$zero   :0;