doctype html 
html(lang="en")
    head 
        include html/head 
        title Home - Guest House
    body 
        main
            include html/header 
            include html/section 
            include html/footer 
        include html/script 