@font-face{
	font-family: MontserratAlternatesBlackItalic;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesBlackItalic.woff2") format("woff2"), url("../fonts/MontserratAlternatesBlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesBlack;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesBlack.woff2") format("woff2"), url("../fonts/MontserratAlternatesBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesBold;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesBold.woff2") format("woff2"), url("../fonts/MontserratAlternatesBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesBoldItalic;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesBoldItalic.woff2") format("woff2"), url("../fonts/MontserratAlternatesBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesExtraBold;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesExtraBold.woff2") format("woff2"), url("../fonts/MontserratAlternatesExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesExtraBoldItalic;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesExtraBoldItalic.woff2") format("woff2"), url("../fonts/MontserratAlternatesExtraBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesExtraLight;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesExtraLight.woff2") format("woff2"), url("../fonts/MontserratAlternatesExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesExtraLightItalic;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesExtraLightItalic.woff2") format("woff2"), url("../fonts/MontserratAlternatesExtraLightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesItalic;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesItalic.woff2") format("woff2"), url("../fonts/MontserratAlternatesItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesLight;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesLight.woff2") format("woff2"), url("../fonts/MontserratAlternatesLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesLightItalic;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesLightItalic.woff2") format("woff2"), url("../fonts/MontserratAlternatesLightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesMediumItalic;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesMediumItalic.woff2") format("woff2"), url("../fonts/MontserratAlternatesMediumItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesMedium;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesMedium.woff2") format("woff2"), url("../fonts/MontserratAlternatesMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesSemiBoldItalic;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesSemiBoldItalic.woff2") format("woff2"), url("../fonts/MontserratAlternatesSemiBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesRegular;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesRegular.woff2") format("woff2"), url("../fonts/MontserratAlternatesRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesSemiBold;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesSemiBold.woff2") format("woff2"), url("../fonts/MontserratAlternatesSemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesThinItalic;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesThinItalic.woff2") format("woff2"), url("../fonts/MontserratAlternatesThinItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: MontserratAlternatesThin;
	font-display: swap;
	src: url("../fonts/MontserratAlternatesThin.woff2") format("woff2"), url("../fonts/MontserratAlternatesThin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
